a.btn {
    display: block;
}

time {
    display: block;
}

.post {
    margin-bottom: 24px;
}

.post img {
    width: 100%; 
    max-width: 200px; 
    height: auto; 
}

footer img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

footer p {
    margin: 0;  
}

footer ul li {
    display: inline-block;
}
